.button {
  cursor: pointer;
  width: 240px;
  border-radius: 32px;
  margin: 5px;
  text-align: center;
  transition: filter 0.5s ease-in-out 0s;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(215, 116, 102);
  background-color: rgb(215, 116, 102);
}
